<!DOCTYPE html>
<html lang="ko">
{{>layout/header}}
    <h2>
        영화 랭킹
    </h2>
    <div class="row">
        {{#movieList}}
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#" class="popupBtn">
                    <img src="{{this}}" alt="img" class="img_data" style="width:100%">
                    <div class="caption">
                        <p>{{this}}</p>
                    </div>
                </a>
            </div>
        </div>
        {{/movieList}}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">영화</h4>
                </div>
                <div class="modal-body" id="modal_img">
                    <img src="#" alt="img">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{{>layout/footer}}
<script>
    $(document).ready(function(){
        $(".popupBtn").click(function(){
            $('#modal_img').empty();

            var img_data = $(this);
            alert(img_data.getElementsByClassName("img_data"));


            // let img = document.createElement('img');
            // img.setAttribute('src', img_data);

            // $('#modal_img').append(img);
            // $("#myModal").modal();
        });
    });
</script>
</html>